
<style>
body { 
    background-image: url("background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
</style>

<% if user_signed_in? %>
          
          <% else %>
          # say something 


	<h1><p style= "font-size: 125%; color: white; text-align:right;">Welcome to My Trip</h1></p>


<p style="text-align:right; color: white;"> <%= link_to "Sign Up", new_user_registration_path ,class: "btn btn-primary btn-lg" %>
<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
 </p>

 <% end %>  






