

$body-bg: white;

$navbar-inverse-bg: #3498db;
$navbar-inverse-link-color: white;



$icon-font-path: 'bootstrap/'; @import 'bootstrap'; 

@import 'bootstrap';

.navbar-brand {
     font-weight: bold;
     font-size: 25px;

}