

$body-bg: white;

$navbar-inverse-bg: #3498db;
$navbar-inverse-link-color: white;
$brand-primary: #d35400;

background: image-url(image1.jpg);


@import 'bootstrap';

.navbar-brand {
     font-weight: bold;
}